<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">About</h2>
            </div>
        </div>
        <div class="row ">
            <div class="col-lg-12 text-center">
                <h3 class="section-subheading text-muted text-justify" style="font-style: normal;">Kami adalah mitra
                    terpercaya di
                    industri refinancing di
                    Indonesia, telah beroperasi sejak bulan Mei 2024. Sejak awal perjalanan kami, kami telah memberikan
                    solusi keuangan yang inovatif dan terpercaya kepada klien-klien kami di seluruh Indonesia. Dengan
                    keahlian dalam menganalisis dan mengoptimalkan aset finansial, kami membantu klien-klien kami
                    mengatasi tantangan keuangan mereka dengan memberikan akses kepada mereka untuk memperoleh modal
                    yang diperlukan melalui proses refinancing yang cepat dan efisien.
                    <br />
                    <br />
                    Komitmen kami terhadap pelayanan pelanggan yang berkualitas tinggi menjadikan kami sebagai mitra
                    yang dipercaya bagi individu, bisnis kecil, dan perusahaan besar di seluruh negeri. Kami memahami
                    bahwa setiap situasi keuangan adalah unik, oleh karena itu, kami menawarkan solusi yang disesuaikan
                    dengan kebutuhan dan tujuan finansial masing-masing klien.
                    <br />
                    <br />
                    Dengan keberadaan di seluruh Indonesia,
                    kami memiliki 10 Regional Manager yang ekosistemnya tinggi untuk memberikan pelayanan yang optimal
                    kepada pelanggan kami di setiap wilayah. Melalui jaringan yang luas ini, kami memastikan bahwa kami
                    dapat memberikan layanan yang responsif dan terjangkau kepada semua klien kami, di mana pun mereka
                    berada.
                    <br />
                    <br />
                    Kami terus berkomitmen untuk menjadi yang terdepan dalam industri ini, menghadirkan inovasi baru dan
                    solusi finansial yang dapat diandalkan bagi masyarakat dan bisnis di Indonesia.
                </h3>
            </div>
        </div>
    </div>
</section>